services/catalog/catalog-impl/src/main/resources/catalog_tree.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tree">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="item">
          <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:element name="item">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="text"/>
                      <xs:attribute type="xs:byte" name="child"/>
                      <xs:attribute type="xs:byte" name="id"/>
                      <xs:attribute type="xs:string" name="im0"/>
                      <xs:attribute type="xs:string" name="im1"/>
                      <xs:attribute type="xs:string" name="im2"/>
                      <xs:attribute type="xs:byte" name="call"/>
                      <xs:attribute type="xs:byte" name="select"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="text"/>
            <xs:attribute type="xs:byte" name="child"/>
            <xs:attribute type="xs:int" name="id"/>
            <xs:attribute type="xs:string" name="im0"/>
            <xs:attribute type="xs:string" name="im1"/>
            <xs:attribute type="xs:string" name="im2"/>
            <xs:attribute type="xs:byte" name="call"/>
            <xs:attribute type="xs:byte" name="select"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:byte" name="id"/>
    </xs:complexType>
  </xs:element>
</xs:schema>